
* {
        margin: 0;
        padding: 0;
 }

.bg-img{
    background-image: url(./img/code.png);
    background-size: cover;
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.116);

}
.welcome h1, p{
    color: #ffffff;
    
}

.welcome h1{
    font-size: 3rem;
}

.welcome  p{
    font-size: 1.5rem;    
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcome button{
    color:#ffffff;
  cursor: pointer;
  font-size: 18px;
  height: 4rem;
  width: 10rem;
  background-color: #333232;
  border-color: #ababab;


}

.welcome button:hover{
    color:#000000;
    background-color: #ffffff;

}


